<div id="stacks-used">
    <div class="bg-black">
        <h3 style="padding-top: 50px;">What can I do for you</h3>
        <div class="cards-container">
            <div class="card"  *ngFor="let card of serviceCards">
                <img [src]="card.image" class="card-img-top">

                <div class="card-body">
                    <h4 class="card-title"> {{card.title}}</h4>
                    <p class="card-text">{{card.description}}</p>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>