<div id="stacks-used">

    <div class="bg-black">

        <h3 style="padding: 50px;">What can I do for you</h3>
        <div class="cards-container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/avatar.jpg" alt="Avatar image cap">
                <div class="card-body">
                    <h4 class="card-title">UX/UI DESIGN</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/avatar.jpg" alt="Avatar image cap">
                <div class="card-body">
                    <h4 class="card-title">UX/UI DESIGN</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/avatar.jpg" alt="Avatar image cap">
                <div class="card-body">
                    <h4 class="card-title">UX/UI DESIGN</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>