.bg-black {
    background-color: #0A0A0A;
    border-radius: 45px;
}

.cards-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

h4 {
    padding: 20px;
    text-align: center;
    font-size: clamp(14px, 5vw, 20px);
}

.card {
    width: 20em;
    border-radius: 40px;
    background-color: white;
    margin: 67px;
    padding: 30px;
}

.card:hover {
    opacity: 0.95;
    color: orangered;
}

img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .cards-container {
        margin-top: 0;
    }

    .bg-black {
        background-color: #393b45;
    }
}