.header-container {
    background-color: #131D25;
    border-radius: 60px;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}

.myName {
    color: white;
    font-size: clamp(18px, 5vw, 30px);
    cursor: pointer;
    text-align: center;
}

.myName:hover {
    color: #FF8132;
}


.content-description {
    display: flex;
    justify-content: center;
    gap: 25px;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 50px;
}

a {
    color: #f4f4f4;
    font-size: clamp(15px, 5vw, 18px);
    text-align: center;
}

h1 {
    color: white;
    font-size: clamp(15px, 5vw, 24px);
    text-align: center;
}

a:hover {
    color: #FF8132;
}



@media screen and (max-width: 1427px) {
    .header-container {
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    .content-description {
        padding: 15px;
    }

}

@media screen and (min-width: 1821px) {
    .content-description {
        padding: 15px;
    }
}