<app-burger-menu></app-burger-menu>

<div class="header-container">
    <div class="content-description">
        <div class="left-content">
            <ul>
                <li>
                    <a href="#about-me"> About Me
                    </a>
                </li>
                <li>
                    <a href="#stacks-used"> Stacks used
                    </a>
                </li>

            </ul>

        </div>
        <div class="middle-content">
            <h1 class="cursorPointer" routerLink="/">Thomas HEROGUELLE</h1>
        </div>
        <ul>

            <li>
                <a href="#contact-me"> Contact Me

                </a>
            </li>
            <li>
                <a href="#featured-projects"> My Projects

                </a>
            </li>
        </ul>

    </div>
</div>