.header-container {
    background-color: #131D25;
    border-radius: 60px;
    width: 90%;
    margin: 20px auto;
    overflow: hidden; 
}
.cursorPointer {
    cursor: pointer;
}
.cursorPointer:hover {
    color: #FF8132;
}

/* 
.header-container {
    background-color: black;
    border-radius: 60px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 83%;
    margin-top: 20px;
} */

.content-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; /* Ajout de cette ligne pour permettre le retour à la ligne des éléments */
}

li {
    margin: 0 45px;
}

a {
    color: #f4f4f4;
    font-size: clamp(15px, 5vw, 18px);
    text-align: center;
    white-space: nowrap; /* Ajout de cette ligne pour éviter le retour à la ligne du texte */
}

h1 {
    color: white;
    font-size: clamp(15px, 5vw, 24px);
    text-align: center;
}

a:hover {
    color: #FF8132;
}

@media screen and (max-width: 1034px) {
    .content-description {
        padding: 15px;
    }    
}

@media screen and (max-width: 710px) {
    .header-container {
        display: none;
    }
}