<div class="header-container">
    <div class="content-description">
        <ul>
            <li>
                <a href="#about-me"> About Me </a>
            </li>
            <li>
                <a href="#stacks-used"> Stacks used </a>
            </li>
            <li class="cursorPointer" routerLink="/">
                Thomas HEROGUELLE
            </li>
            <li>
                <a href="#contact-me"> Contact Me

                </a>
            </li>
            <li>
                <a href="#featured-projects"> My Projects

                </a>
            </li>
        </ul>

    </div>
</div>

