<app-burger-menu></app-burger-menu>
<div class="header-container">
    <div class="content-description">
        <ul>
            <li>
                <a href="#about-me"> About Me </a>
            </li>
            <li>
                <a href="#stacks-used"> Services </a>
            </li>
            <li class="myName" routerLink="/">
                Thomas HEROGUELLE
            </li>
            <li>
                <a href="/projects"> My Projects </a>
            </li>
            <li>
                <a href="#contact-me"> Contact Me </a>
            </li>
        </ul>
    </div>
</div>

<!-- https://dribbble.com/shots/21360158-Personal-Portfolio-Website -->