.myForm {
    text-align: center;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    max-width: 450px;
    width: 100%;
    margin: 10px;
    object-fit: cover;
}

.todoliste {
    border-radius: 15px;
    max-width: 250px
}

.tnb {
    width: 450px;
}


select {
    border-radius: 25px;
    padding: 15px;
}

.designPara {
    text-align: center;
    width: 50%;
    background-color: #FF8132;
    color: white;
    padding: 25px;
    margin-top: 25px;
    border-radius: 25px;
}

a {
    background: radial-gradient( rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 15px 15px;
}

a:hover {
    opacity: 95%;
}

@media screen and (max-width: 450PX) {
    .designPara {
        width: 90%;
    }

}