<div id="about-me">

    <div style="max-width: 1200px;margin: 0 auto;" class="pres-container">
        <p style="margin-top: 25px;"> Hello 👋, my name is <span class="name"> Thomas HEROGUELLE </span>  and I'm a</p>
        <h2 style="margin-top: 25px;"> <span class="work">  Full Stack Developer Junior </span>  based in France</h2>
        <p style="margin-top: 25px;"> I love coding front-end and back-end or designing websites, and focusing on
            designing digital products that
            are
            easy on users and customers</p>
        <button class="orange-btn">
            <a style=" color: white;" routerLink="/error"> Check my <b> <span class="projects"> projects  </span> </b>🚀
            </a>
        </button>
        <button class="white-btn">
            <a style=" color: #FF8132;
            " href="mailto:thomasheroguelle93@yahoo.com"> 📧 <b> Email Me </b>
            </a>

        </button>

    </div>
</div>