h2 {
    font-size: clamp(16px, 5vw, 90px);
}

p {
    font-size: clamp(12px, 5vw, 25px);
}


.pres-container {
    text-align: center;
    height: auto;

}

/* BUTTONS */
.orange-btn {
    background-color: #FF8132;
    border: none;
    color: white;
}

.white-btn {
    background-color: white;
    border-color: #FF8132;
    color: #FF8132;
}

button {
    padding: 12px;
    border-radius: 25px;
    margin: 25px;
    cursor: pointer;
    font-size: clamp(12px, 5vw, 22px);
    margin-top: 55px;
}

button:hover {
    opacity: 80%;
}

/* RESPONSIVE  */
@media screen and (max-width: 800px) {
    button {
        margin-top: 0;
    }

    .pres-container {
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 710px) {
    .orange-btn {
        background-color: #f3b54a;
    }
    button
     {
        margin-top : 15px;
    }
    .name {
        color: #584848;
        font-weight: bold;
    }
    .work {
        color: #6e7889;
        font-weight: bold;
    }
    .projects {
        color: #FF8132;
    }
}