<div id="about-me">

    <div class="pres-container">
        <p> Hello 👋, my name is <span class="name"> Thomas HEROGUELLE </span> and I'm a</p>
        <h2 style="margin-top: 25px;"> <span class="work"> Full Stack Developer Junior </span> based in France</h2>
        <p style="margin-top: 25px;"> I love coding front-end and back-end or designing websites, and focusing on
            designing digital products that
            are
            easy on users and customers</p>
        <button class="orange-btn">
            Check my <b> projects </b>🚀
        </button>
        <button class="white-btn">
            📧 <b> Email Me </b>
        </button>

    </div>
</div>