<div id="about-me">

    <div class="pres-container">
        <p class="margin-top"> Hello 👋, my name is <span class="name"> Thomas HEROGUELLE </span> and I'm a</p>
        <h2 class="margin-top max-widthH2"> <span class="work"> Full Stack Developer Junior </span> based in France</h2>
        <p class="margin-top max-widthParagraphe"> Passionate about creating interactive web applications, I'm thirsty for new skills and technologies. Always curious, I'm always on the lookout to contribute to stimulating projects.</p>
        <div class="btn-flex">
            <button class="orange-btn">
                <a style=" color: white;" routerLink="/projects"> Check my <b> <span class="projects"> projects
                        </span>
                    </b>🚀
                </a>
                <!-- routerLink="/error"> a modifier -->
            </button>
            <button class="white-btn">
                <a style=" color: #FF8132;
            " href="mailto:thomasheroguelle93@yahoo.com"> 📧 <b> Email Me </b>
                </a>
            </button>
        </div>

    </div>
</div>