h3.featured-title {
    font-size: clamp(14px, 5vw, 50px);
}

h4 {
    padding: 20px;
    text-align: center;
    font-size: clamp(14px, 5vw, 40px);
}

img {
    object-fit: cover;
}

.width-250 {
    width: 250px;
    margin: 0 50px;
}

.width-auto {
    width: auto;
}

.max-width {
    width: 100%;
    max-width: 1150px;
}

.displayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius : 10px;
    border: 3px solid #FF8132;
    margin-top: 25px;
    padding: 25px;

}

.orange-btn {
    background-color: #FF8132;
    border: none;
    color: white;
}

button {
    padding: 12px;
    border-radius: 25px;
    margin: 25px;
    cursor: pointer;
    font-size: clamp(12px, 5vw, 22px);
    margin-top: 55px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {}