h3.featured-title {
    margin-top: 50px;
    font-size: clamp(14px, 5vw, 50px);
    text-align: center;
}


.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
}


.orange-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FF8132;
    border: none;
    color: white;
}

.orange-btn:hover {
    opacity: 90%;
}


button {
    padding: 12px;
    border-radius: 25px;
    margin: 25px;
    cursor: pointer;
    font-size: clamp(12px, 5vw, 22px);
    margin-top: 55px;
}

.btn {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 800px) {}