<div id="featured-projects">
    <h3 class="featured-title">Featured Projects</h3>
    <div class="displayFlex" *ngFor="let t of presentationCard">
        <div style="margin-bottom: 25;" class="work-container">
            <h4> {{t.title}}</h4>
            <div class="image-container">
                <img [src]="t.projectPresentation" alt="">
            </div>
        </div>
    </div>
    <div class="btn">
        <button class="orange-btn" routerLink="/projects">Click to see more</button>
    </div>
</div>