<section class="burger-menu-container">
    <div class="top-nav container">
        <div>
            Thomas HEROGUELLE
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li>
                <a href="#about-me"> About Me
                </a>
            </li>
            <li>
                <a href="#stacks-used"> Services
                </a>
            </li>
            <li>
                <a href="/projects"> My Projects </a>

            </li>
            <li>
                <a href="#contact-me"> Contact Me </a>

            </li>
        </ul>
    </div>
</section>

