<div id="contact-me">

    <div class="contact-container">
        <div class="right-container">
            <img src="assets/me.png" alt="">
        </div>
        <div class="left-container">
            <h3 style="text-align: inherit;">Let's start project together?</h3>
            <p style="color: grey; margin-bottom: 25px;">Contact me for questions, collaboration, conversation, or just
                saying hello. Thank you for stopping by here.</p>
            <div class="contact-infos">
                <a href="mailto:thomasheroguelle93@yahoo.com"><b>thomasheroguelle93@yahoo.com</b></a>

                <p><b>+33 6 11 28 72 61</b></p>
                <h4 style="margin-top: 65px;">Thomas HEROGUELLE</h4>
            </div>
            <div class="bottom-container">
                <a href="https://www.linkedin.com/in/thomas-heroguelle-a34448252/">Linkedin</a>
                <a href="https://github.com/thomasheroguelle?tab=repositories">GitHub</a>
            </div>
        </div>
    </div>
</div>