.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: clamp(14px, 5vw, 50px);

}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    width: 50%;
    max-width: 750px;
    height: auto;
}



