
h4 {
    padding: 20px;
    font-size: clamp(14px, 5vw, 30px);
    text-align: center;
}
img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    max-height: 470px;
}
.displayFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}